{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "arrow-parens": [2, "as-needed"]
  },
  "globals": {
    "ga": true,
    "hljs": true,
    "emojiParser": true
  }
}