body {
  font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
}

.header-link {
  position: relative;
  left: -0.5em;
  opacity: 0;
}

a i {
  color: #ccc;
  font-size: 16px;
}

a:hover i {
  color: #555;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.emoji {
  height: 16px;
  margin-top: -6px;
}

.container {
  max-width: 600px;
}

#header {
  padding: 30px;
}

.til {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #eee;
}

.til-header, .til-body, .til-footer {
  padding: 30px;
}

.share img {
  width: 24px;
  height: 24px;
}

#footer {
  height: 600px;
}