@import 'Variables.less';

.footer {
  img {
    margin: -6px 10px 0;
    width: 16px;
    height: 16px;
  }

  .dot {
    padding: 0 20px;
  }

  border-top: @border;
  height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
}
