.til {
  .header-link {
    position: relative;
    opacity: 0;
    padding: 0 10px;
  }

  h1:hover .header-link,
  h2:hover .header-link,
  h3:hover .header-link,
  h4:hover .header-link,
  h5:hover .header-link,
  h6:hover .header-link {
    opacity: 1;
    text-decoration: none;
  }
  padding-top: 80px;
  padding-bottom: 80px;


  border-top: 1px solid #eee;

  .info, .labels, .body {
    padding-top: 30px;
  }

  .info {
    padding-bottom: 30px;
  }
}