.title {
  .header-link {
    position: relative;
    padding: 0 10px;
    @media (min-width : 768px) {
      opacity: 0;
    }
  }

  a {
    text-decoration: none !important;
    color: inherit !important;
  }

  h1:hover .header-link {
    opacity: 1;
  }
}