@import 'Variables.less';

.title {
  .header-link {
    position: relative;
    padding: 0 @xs;
    @media (min-width : @breakpoint) {
      opacity: 0;
    }
  }

  a {
    text-decoration: none !important;
    color: inherit !important;
  }

  h1:hover .header-link {
    opacity: 1;
  }

  text-transform: capitalize;
}