body {
  font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
}

a i.fa {
  color: #ccc;
  font-size: 16px;
  padding: 10px;
}

a:hover i.fa {
  color: #555;
}

.container {
  max-width: 600px;
}
